.row(style="margin-bottom:20px")
  .span1(style="width:10px")
    i.icon-arrow-up
    br
    i.icon-arrow-down
  .span6
    .row
      .span6
        h5(style="margin:0")
          |Werelax
          span(style="margin-left:10px")
            small 13 points 2 hours ago
    .row
      .span6
        span= comment.text
