extends ../layout

block content
  form(action="/session", method="POST")
    fieldset
      legend Login
      label Email
      input.span5(type="text", name="email")
      label Password
      input.span5(type="password", name="password")
      br
      button(type="submit", class="btn") Login
      a(href="/register", style="margin-left: 15px") register
