extends ../layout

block content
  form(action="/users", method="POST")
    fieldset
      legend Register
      label Username
      input.span5(type="text", name="name")
      label Email
      input.span5(type="text", name="email")
      label Password
      input.span5(type="password", name="password")
      label Confirm password
      input.span5(type="password", name="passwordConfirm")
      br
      button(type="submit", class="btn") Register
      a(href="/login", style="margin-left: 15px") already registered?
