.row(style="margin-bottom: 20px")
  .span1(style="width:10px")
    i.icon-chevron-up
    br
    span(style="font-size:20px;font-weight:bold;margin-left:-5px;") 12
    br
    i.icon-chevron-down
  .span1
    img(src=post.user.gravatar(), class="img-rounded")
  .span7
    .row
      .span7
        h5(style="margin:0")
          = post.title
          small(style="margin-left:10px") (here goes the domain)
    .row
      .span7
        span posted by #{post.user.name} at some point in time
    .row
      .span7
        span
          strong
            a(href="/posts/#{post.id}") some comments...
