extends ../layout

block content
  form(action="/posts", method="POST")
    fieldset
      legend New Post
      label Title
      textarea.span5(name="title")
      label URL
      input.span5(type="text", name="url")
      br
      button(type="submit", class="btn") Send
