extends ../layout

block content
  if error.length
    .alert= error
  include _post

  .row
    .span12
      hr

  .row
    .span12
      form(action="/posts/#{post.id}/comments", method="POST")
        textarea.span5(name="comment")
        br
        button(type="submit", class="btn") Post

  each comment in comments
    include ../comments/_comment
