doctype 5
html
  head
    title Redix
    link(rel='stylesheet', href='/css/bootstrap.min.css')
    script(src="/js/jquery.js")
    script(src="/js/bootstrap.min.js")
  body
    .navbar
      .navbar-inner
        a.brand(href="#") Reddix
        ul.nav
          li.active
            a(href="/") Top
          li
            a(href="#") New
          li
            a(href="#") Inbox
        ul.nav.pull-right
          li
            a(href="/posts/new") New Post
    .container
      .row
        .span12
          block content
